In [25]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from lightgbm import LGBMClassifier
from sklearn.metrics import accuracy_score # 정확도 함수
from catboost import CatBoostClassifier
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix

In [26]:
Grandmaster = pd.read_csv('../Dataset/perMinuteDataset/10min/MASTER.csv')

In [27]:
win_Grandmaster = Grandmaster[['Diff_FirstBLOOD', 'Diff_FirstDRAGON',
       'Diff_FirstHERALD', 'Diff_Firsttower', 'dragonType', 'WIN_invadeKill', 'WIN_invadeDeath','WIN_controlWARDPlaced', 
       'WIN_Kill_top', 'WIN_Kill_jgl', 'WIN_Kill_mid', 'WIN_Kill_ad', 'WIN_Kill_sup',
       'WIN_Death_top', 'WIN_Death_jgl', 'WIN_Death_mid', 'WIN_Death_ad', 'WIN_Death_sup', 
       'WIN_Asisst_top', 'WIN_Asisst_jgl', 'WIN_Asisst_mid', 'WIN_Asisst_ad', 'WIN_Asisst_sup',
       'WIN_LV_top', 'WIN_LV_jgl', 'WIN_LV_mid', 'WIN_LV_ad', 'WIN_LV_sup',
       'WIN_CS_top', 'WIN_CS_jgl', 'WIN_CS_mid', 'WIN_CS_ad', 'WIN_CS_sup',
       'WIN_jglCS_top', 'WIN_jglCS_jgl', 'WIN_jglCS_mid', 'WIN_jglCS_ad', 'WIN_jglCS_sup',
       'WIN_GOLD_top', 'WIN_GOLD_jgl', 'WIN_GOLD_mid', 'WIN_GOLD_ad', 'WIN_GOLD_sup',
       'WIN_WARDkill', 'WIN_Inhibitor','WIN_TOWERkill', 'WIN_WARDplaced']]
lose_Grandmaster = Grandmaster[['Diff_FirstBLOOD', 'Diff_FirstDRAGON',
       'Diff_FirstHERALD', 'Diff_Firsttower', 'dragonType',
       'LOSE_invadeDeath', 'LOSE_invadeKill',
       'LOSE_controlWARDPlaced',
       'LOSE_Kill_top', 'LOSE_Kill_jgl', 'LOSE_Kill_mid', 'LOSE_Kill_ad', 'LOSE_Kill_sup',
       'LOSE_Death_top', 'LOSE_Death_jgl',
       'LOSE_Death_mid', 'LOSE_Death_ad', 'LOSE_Death_sup',
       'LOSE_Asisst_top', 'LOSE_Asisst_jgl', 'LOSE_Asisst_mid',
       'LOSE_Asisst_ad', 'LOSE_Asisst_sup',
       'LOSE_LV_top', 'LOSE_LV_jgl',
       'LOSE_LV_mid', 'LOSE_LV_ad', 'LOSE_LV_sup',
       'LOSE_CS_top', 'LOSE_CS_jgl',
       'LOSE_CS_mid', 'LOSE_CS_ad', 'LOSE_CS_sup',
       'LOSE_jglCS_top', 'LOSE_jglCS_jgl', 'LOSE_jglCS_mid', 'LOSE_jglCS_ad', 'LOSE_jglCS_sup',
       'LOSE_GOLD_top', 'LOSE_GOLD_jgl',
       'LOSE_GOLD_mid', 'LOSE_GOLD_ad', 'LOSE_GOLD_sup',
       'LOSE_WARDkill', 'LOSE_Inhibitor',
       'LOSE_TOWERkill', 'LOSE_WARDplaced']]
colName = 'WIN'
win_Grandmaster = win_Grandmaster.rename(columns={f'{colName}_invadeKill': 'invadeKill', f'{colName}_invadeDeath': 'invadeDeath', 
                                                  f'{colName}_controlWARDPlaced': 'controlWARDPlaced',
                                                  f'{colName}_Kill_top': 'Kill_top',f'{colName}_Kill_jgl': 'Kill_jgl',f'{colName}_Kill_mid': 'Kill_mid',f'{colName}_Kill_ad': 'Kill_ad', f'{colName}_Kill_sup': 'Kill_sup',
                                                  f'{colName}_Death_top': 'Death_top',f'{colName}_Death_jgl': 'Death_jgl',f'{colName}_Death_mid': 'Death_mid',f'{colName}_Death_ad': 'Death_ad',f'{colName}_Death_sup': 'Death_sup',
                                                  f'{colName}_Asisst_top': 'Assist_top',f'{colName}_Asisst_jgl': 'Assist_jgl',f'{colName}_Asisst_mid': 'Assist_mid',f'{colName}_Asisst_ad': 'Assist_ad',f'{colName}_Asisst_sup': 'Assist_sup',
                                                  f'{colName}_LV_top': 'LV_top',f'{colName}_LV_jgl': 'LV_jgl',f'{colName}_LV_mid': 'LV_mid',f'{colName}_LV_ad': 'LV_ad',f'{colName}_LV_sup': 'LV_sup',
                                                  f'{colName}_CS_top': 'CS_top',f'{colName}_CS_jgl': 'CS_jgl',f'{colName}_CS_mid': 'CS_mid',f'{colName}_CS_ad': 'CS_ad',f'{colName}_CS_sup': 'CS_sup',
                                                  f'{colName}_jglCS_top': 'jglCS_top',f'{colName}_jglCS_jgl': 'jglCS_jgl',f'{colName}_jglCS_mid': 'jglCS_mid',f'{colName}_jglCS_ad': 'jglCS_ad',f'{colName}_jglCS_sup': 'jglCS_sup',
                                                  f'{colName}_GOLD_top': 'GOLD_top',f'{colName}_GOLD_jgl': 'GOLD_jgl',f'{colName}_GOLD_mid': 'GOLD_mid',f'{colName}_GOLD_ad': 'GOLD_ad',f'{colName}_GOLD_sup': 'GOLD_sup',
                                                  f'{colName}_WARDkill': 'WARDkill',f'{colName}_Inhibitor': 'Inhibitor',f'{colName}_TOWERkill': 'TOWERkill',f'{colName}_WARDplaced': 'WARDplaced'})

colName = 'LOSE'
lose_Grandmaster = lose_Grandmaster.rename(columns={f'{colName}_invadeKill': 'invadeKill', f'{colName}_invadeDeath': 'invadeDeath', 
                                                  f'{colName}_controlWARDPlaced': 'controlWARDPlaced',
                                                  f'{colName}_Kill_top': 'Kill_top',f'{colName}_Kill_jgl': 'Kill_jgl',f'{colName}_Kill_mid': 'Kill_mid',f'{colName}_Kill_ad': 'Kill_ad', f'{colName}_Kill_sup': 'Kill_sup',
                                                  f'{colName}_Death_top': 'Death_top',f'{colName}_Death_jgl': 'Death_jgl',f'{colName}_Death_mid': 'Death_mid',f'{colName}_Death_ad': 'Death_ad',f'{colName}_Death_sup': 'Death_sup',
                                                  f'{colName}_Asisst_top': 'Assist_top',f'{colName}_Asisst_jgl': 'Assist_jgl',f'{colName}_Asisst_mid': 'Assist_mid',f'{colName}_Asisst_ad': 'Assist_ad',f'{colName}_Asisst_sup': 'Assist_sup',
                                                  f'{colName}_LV_top': 'LV_top',f'{colName}_LV_jgl': 'LV_jgl',f'{colName}_LV_mid': 'LV_mid',f'{colName}_LV_ad': 'LV_ad',f'{colName}_LV_sup': 'LV_sup',
                                                  f'{colName}_CS_top': 'CS_top',f'{colName}_CS_jgl': 'CS_jgl',f'{colName}_CS_mid': 'CS_mid',f'{colName}_CS_ad': 'CS_ad',f'{colName}_CS_sup': 'CS_sup',
                                                  f'{colName}_jglCS_top': 'jglCS_top',f'{colName}_jglCS_jgl': 'jglCS_jgl',f'{colName}_jglCS_mid': 'jglCS_mid',f'{colName}_jglCS_ad': 'jglCS_ad',f'{colName}_jglCS_sup': 'jglCS_sup',
                                                  f'{colName}_GOLD_top': 'GOLD_top',f'{colName}_GOLD_jgl': 'GOLD_jgl',f'{colName}_GOLD_mid': 'GOLD_mid',f'{colName}_GOLD_ad': 'GOLD_ad',f'{colName}_GOLD_sup': 'GOLD_sup',
                                                  f'{colName}_WARDkill': 'WARDkill',f'{colName}_Inhibitor': 'Inhibitor',f'{colName}_TOWERkill': 'TOWERkill',f'{colName}_WARDplaced': 'WARDplaced'})

In [28]:
win_Grandmaster['result'] = 1
lose_Grandmaster['result'] = -1
display(win_Grandmaster)
display(lose_Grandmaster)

,Diff_FirstBLOOD,Diff_FirstDRAGON,Diff_FirstHERALD,Diff_Firsttower,dragonType,invadeKill,invadeDeath,controlWARDPlaced,Kill_top,Kill_jgl,...,GOLD_top,GOLD_jgl,GOLD_mid,GOLD_ad,GOLD_sup,WARDkill,Inhibitor,TOWERkill,WARDplaced,result
0,1,0,1,0,0,2,0,3,2,0,...,3869,3455,4285,3770,3366,4,0,0,18,1
1,1,0,1,0,0,1,0,3,3,3,...,4366,4511,4480,3777,3113,4,0,0,89,1
2,1,1,1,0,2,0,0,2,0,2,...,2949,4023,4131,4053,2431,1,0,0,17,1
3,1,0,1,0,0,1,0,7,0,4,...,3078,4561,3837,4182,3278,5,0,0,27,1
4,1,1,0,0,1,1,0,4,3,2,...,4694,3904,3781,4480,2794,3,0,0,34,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8867,1,0,1,0,0,0,0,3,0,1,...,2724,3898,3138,3750,2691,3,0,0,32,1
8868,1,1,-1,0,2,0,0,3,1,2,...,3200,3690,3614,3640,4519,6,0,0,14,1
8869,-1,1,-1,0,2,0,0,3,1,3,...,2967,4148,4338,3108,2630,4,0,0,17,1
8870,-1,0,0,0,0,0,0,0,2,0,...,3686,2661,3585,3634,2060,2,0,0,21,1
8871,-1,0,1,0,0,1,1,4,3,2,...,4427,3395,3436,4380,2557,2,0,0,16,1

,Diff_FirstBLOOD,Diff_FirstDRAGON,Diff_FirstHERALD,Diff_Firsttower,dragonType,invadeDeath,invadeKill,controlWARDPlaced,Kill_top,Kill_jgl,...,GOLD_top,GOLD_jgl,GOLD_mid,GOLD_ad,GOLD_sup,WARDkill,Inhibitor,TOWERkill,WARDplaced,result
0,1,0,1,0,0,2,0,5,0,0,...,2652,3492,3463,5068,3469,4,0,0,16,-1
1,1,0,1,0,0,1,0,5,1,2,...,3216,3712,3451,3722,3182,1,0,0,17,-1
2,1,1,1,0,2,0,0,1,0,0,...,2904,2380,2978,3968,3915,1,0,0,10,-1
3,1,0,1,0,0,1,0,2,2,0,...,3725,2905,3097,3250,2400,5,0,0,14,-1
4,1,1,0,0,1,1,0,1,1,0,...,3062,2485,3393,3973,2947,1,0,0,10,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8867,1,0,1,0,0,0,0,7,0,2,...,3652,3426,3887,2986,2110,1,0,0,19,-1
8868,1,1,-1,0,2,0,0,5,2,0,...,3322,3431,4073,3323,3349,5,0,0,15,-1
8869,-1,1,-1,0,2,0,0,5,2,2,...,3683,4254,4016,3107,2610,1,0,0,36,-1
8870,-1,0,0,0,0,0,0,4,1,2,...,3237,3788,3713,3346,2529,1,0,0,17,-1
8871,-1,0,1,0,0,1,1,3,3,1,...,4115,3500,4785,3075,2639,6,0,0,17,-1

In [29]:
rf = RandomForestClassifier(n_estimators=500, max_depth=50, random_state = 10)
lgbm = LGBMClassifier(n_estimators=100, verbosity=0)
cat = CatBoostClassifier(iterations=2, depth=2, learning_rate=1)
et = ExtraTreesClassifier(n_estimators=100, random_state = 4)
data = pd.concat([win_Grandmaster, lose_Grandmaster], axis=0, ignore_index=True)
data

,Diff_FirstBLOOD,Diff_FirstDRAGON,Diff_FirstHERALD,Diff_Firsttower,dragonType,invadeKill,invadeDeath,controlWARDPlaced,Kill_top,Kill_jgl,...,GOLD_top,GOLD_jgl,GOLD_mid,GOLD_ad,GOLD_sup,WARDkill,Inhibitor,TOWERkill,WARDplaced,result
0,1,0,1,0,0,2,0,3,2,0,...,3869,3455,4285,3770,3366,4,0,0,18,1
1,1,0,1,0,0,1,0,3,3,3,...,4366,4511,4480,3777,3113,4,0,0,89,1
2,1,1,1,0,2,0,0,2,0,2,...,2949,4023,4131,4053,2431,1,0,0,17,1
3,1,0,1,0,0,1,0,7,0,4,...,3078,4561,3837,4182,3278,5,0,0,27,1
4,1,1,0,0,1,1,0,4,3,2,...,4694,3904,3781,4480,2794,3,0,0,34,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17739,1,0,1,0,0,0,0,7,0,2,...,3652,3426,3887,2986,2110,1,0,0,19,-1
17740,1,1,-1,0,2,0,0,5,2,0,...,3322,3431,4073,3323,3349,5,0,0,15,-1
17741,-1,1,-1,0,2,0,0,5,2,2,...,3683,4254,4016,3107,2610,1,0,0,36,-1
17742,-1,0,0,0,0,0,0,4,1,2,...,3237,3788,3713,3346,2529,1,0,0,17,-1
17743,-1,0,1,0,0,1,1,3,3,1,...,4115,3500,4785,3075,2639,6,0,0,17,-1

In [30]:
colCnt = data.shape[1]
print(colCnt)
X = data.iloc[:, :colCnt-1]
y = data.iloc[:, colCnt-1:]
print(y)
# # features/target, train/test dataset 분리
train_x, test_x, train_y, test_y = train_test_split(X, y, test_size = 0.2, random_state = 42) # 학습데이터와 평가데이터의 비율을 8:2 로 분할|
train_y = train_y.values.ravel()
rf.fit(train_x, train_y)
rf_pre = rf.predict(test_x)
tn, fp, fn, tp = confusion_matrix(test_y, rf_pre).ravel()
print("RandomForest :", round(accuracy_score(test_y, rf_pre)*100, 2), "%")
print("RandomForest f1 :", round(f1_score(test_y, rf_pre)*100, 2), "%")
print('tn:', tn, ' fp:', fp, ' fn:', fn, ' tp:', tp)
lgbm.fit(train_x, train_y)
lgbm_pre = lgbm.predict(test_x)
tn, fp, fn, tp = confusion_matrix(test_y, lgbm_pre).ravel()
print("lightGBM :", round(accuracy_score(test_y, lgbm_pre)*100, 2), "%")
print("lightGBM f1 :", round(f1_score(test_y, lgbm_pre)*100, 2), "%")
print('tn:', tn, ' fp:', fp, ' fn:', fn, ' tp:', tp)
cat.fit(train_x, train_y)
cat_pre = cat.predict(test_x)
tn, fp, fn, tp = confusion_matrix(test_y, cat_pre).ravel()
print("CatBoost :", round(accuracy_score(test_y, cat_pre)*100, 2), "%")
print("CatBoost f1 :", round(f1_score(test_y, cat_pre)*100, 2), "%")
print('tn:', tn, ' fp:', fp, ' fn:', fn, ' tp:', tp)

et.fit(train_x, train_y)
et_pre = et.predict(test_x)
tn, fp, fn, tp = confusion_matrix(test_y, et_pre).ravel()
print("ExtraTrees :", round(accuracy_score(test_y, et_pre)*100, 2), "%")
print("ExtraTrees f1 :", round(f1_score(test_y, et_pre)*100, 2), "%")
print('tn:', tn, ' fp:', fp, ' fn:', fn, ' tp:', tp)

48
       result
0           1
1           1
2           1
3           1
4           1
...       ...
17739      -1
17740      -1
17741      -1
17742      -1
17743      -1

[17744 rows x 1 columns]
RandomForest : 74.67 %
RandomForest f1 : 74.7 %
tn: 1323  fp: 439  fn: 460  tp: 1327
lightGBM : 80.02 %
lightGBM f1 : 80.06 %
tn: 1417  fp: 345  fn: 364  tp: 1423
0:	learn: 0.6550223	total: 7.4ms	remaining: 7.4ms
1:	learn: 0.6324851	total: 13.6ms	remaining: 0us
CatBoost : 63.99 %
CatBoost f1 : 62.59 %
tn: 1202  fp: 560  fn: 718  tp: 1069
ExtraTrees : 77.15 %
ExtraTrees f1 : 77.1 %
tn: 1373  fp: 389  fn: 422  tp: 1365